.carousel-container {
  margin-top: 1vw;
  
  .title h3 {
    margin-top: 0;
  }

  .cards-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card {
    padding: 1vw;
    .img-card {
      width: 15vw;
    }

    .description-card {
      text-align: justify;
    }
  }
}
