
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__sections {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .news-container {
        width: 100%;
        padding: 0 10px;
        h1 {
           margin-bottom: 0;
           width: 100%;
        }

        p {
            text-align: justify;
        }

        .content {
           display: flex;
            width: 100%;
           img {
               height: 60vh;
               margin-left: 10px;
           }
       }
    }
    
    .news-dots {
        display: flex;
        justify-content: center;
        margin-top: 1vw;

        .dot {
            background-color: rgb(33, 33, 33);
            width: 1.5vw;
            height: 1.5vw;
            border-radius: 100%;
            margin-left: 5px;
        }
    }
}