.container-all {
  background-color: rgb(232, 232, 240);
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.title {
  h1 {
    font-size: 5vw;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5vw;
  }
}

.content {
  padding: 0 10px;
}

.footer {
  width: 100%;
  p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 3vw 0;
  }
}

.menu {
  
  display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    .menu-item {
      display: flex;
      margin: 1vw;
    }
}